<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header class="navbar p-2">
            <section class="navbar-section">
                <a href="{{ path('homepage') }}" class="navbar-brand mr-2"><img src="{{ asset('img/pilot_logo.png') }}" alt="logo"/></a>
                <div class="input-group input-inline">
                    <input class="form-input" type="text" placeholder="search">
                    <button class="btn btn-primary input-group-btn">Search</button>
                </div>
            </section>
            <section class="navbar-section">
                <a href="{{ path('fos_user_registration_register') }}" class="btn btn-link">Inscription</a>
                <span>ou</span>
                <a href="{{ path('fos_user_security_login') }}" class="btn btn-link">Connection</a>
            </section>
        </header>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
