{% extends 'base.html.twig' %}

{% block title %}{{ 'home'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/index.css') }}" />
{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="columns">
            <div class="col-12 col-mx-auto">
                <div class="toast toast-success">
                    <button class="btn btn-clear float-right"></button>
                    {{ flashMessage }}
                </div>
            </div>
        </div>
    {% endfor %}
    {% if results|length == 0 %}
        <div class="columns">
            <div class="col-sm-12 col-6 col-mx-auto">
                <div class="empty">
                    <div class="empty-icon">
                        <i class="icon icon-2x icon-message"></i>
                    </div>
                    <p class="empty-title h5">{{ 'noArticle-title'|trans }}</p>
                    <p class="empty-subtitle">{{ 'noArticle-subtitle'|trans }}</p>
                </div>
            </div>
        </div>
    {% else %}
        <div id="article-container" style="margin-top: 20px;" class="col-8">
            {% for article in results %}
                <div class="columns">
                    {% if article.serie and article.serie.imageUrl %}
                        <div class="column col-4">
                            <img class="img-responsive" src="{{ article.serie.imageUrl }}"/>
                        </div>
                    {% endif %}
                    <div class="column col-mx-auto">
                        <h5>{{ article.title }}</h5>
                        <div class="text-gray">
                            {{ article.publishedDate | date("d/M/Y H:i") }} - {{ article.user.username }}
                        </div>
                    </div>
                </div>
                <div class="column col-mx-auto">
                    <p>{{ article.content|raw }}</p>
                    {% if article.serie %}
                        <span class="chip"><a class="text-primary" href="#">{{ article.serie.name }}</a></span>
                        {% if article.seasonNumber %}
                            <span class="chip"><a class="text-primary" href="#">{{ 'season'|trans }} {{ article.seasonNumber }}</a></span>
                        {% endif %}
                    {% endif %}
                    <div class="float-right">
                        <a href="{{ path('article_show', {'urlAlias': article.urlAlias}) }}">{{ 'read-more'|trans }}</a>
                    </div>
                    <div class="divider"></div>
                </div>
            {% endfor %}
        </div>
        {% include 'default/pagination.html.twig' %}
    {% endif %}
{% endblock %}
