{% extends 'base.html.twig' %}
{% form_theme form 'form/fields.html.twig' %}

{% block title %}{{ 'newArticle-title'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/app.css') }}" />
{% endblock %}


{% block body %}
    <div class="columns">
        <div class="column col-6 col-mx-auto col-sm-12">
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="toast toast-error">
                    <button class="btn btn-clear float-right"></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {{ form(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ tinymce_init() }}
    <script src="{{ asset('build/form_article.js') }}"></script>
{% endblock %}
