{% if pagination != null %}
    {% if pagination.nbPages > 0 %}
        <div class="flex-center">
            <ul class="pagination">
                <li class="page-item {% if pagination.page == 1 %} disabled{% endif %}">
                    <a href="{{ url(pagination.routePagination, pagination.paramsRoute) ~ '?page=' ~ (pagination.page-1) ~ '&nbItems=' ~ pagination.nbItems }}">{{ 'previous'|trans }}</a>
                </li>
                {% if pagination.page-2 > 1 %}
                    <li class="page-item">
                        <a href="{{ url(pagination.routePagination, pagination.paramsRoute) ~ '?page=1&nbItems=' ~ pagination.nbItems }}">1</a>
                    </li>
                    {% if pagination.page-3 > 1 %}
                        <li class="page-item">
                            <span>...</span>
                        </li>
                    {% endif %}
                {% endif %}
                {% for p in range(max(pagination.page-2, 1), min(pagination.page+2, pagination.nbPages)) %}
                    <li class="page-item {% if p == pagination.page %}active{% endif %}">
                        <a href="{{ url(pagination.routePagination, pagination.paramsRoute) ~ '?page=' ~ p ~ '&nbItems=' ~ pagination.nbItems }}">
                            {{ p }}
                        </a>
                    </li>
                {% endfor %}
                {% if pagination.page+2 < pagination.nbPages %}
                    {% if pagination.page+3 < pagination.nbPages %}
                        <li class="page-item">
                            <span>...</span>
                        </li>
                    {% endif %}
                    <li class="page-item">
                        <a href="{{ url(pagination.routePagination, pagination.paramsRoute) ~ '?page=' ~ pagination.nbPages ~ '&nbItems=' ~ pagination.nbItems }}">{{ pagination.nbPages }}</a>
                    </li>
                {% endif %}
                <li class="page-item {% if pagination.page == pagination.nbPages %}disabled{% endif %}">
                    <a href="{{ url(pagination.routePagination, pagination.paramsRoute) ~ '?page=' ~ (pagination.page+1) ~ '&nbItems=' ~ pagination.nbItems }}">{{ 'next'|trans }}</a>
                </li>
            </ul>
        </div>
    {% endif %}
{% endif %}